%menuIcon {
    position: absolute;
    left: 2%;
    transition: opacity 0.2s, transform 0.5s;

    &:hover {
        cursor: pointer;
    }
}

%menuHeader {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 0.85% 2% 0.7% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    .dropDown {
        position: relative;

        .dropDownContent {
            display: grid;
            place-items: center;              
            top: 180%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            position: absolute;
            width: fit-content;
            min-width: 150px;
            padding: 5px 15px 5px 15px;
            background-color: rgb(255, 255, 255);
            opacity: 0;
            transition: opacity 0.3s;

            a {
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 0;
                margin-right: 0;
            }
        }

        &:hover a ~ .dropDownContent {
            opacity: 1;
        }
    }

    a {
        text-align: center;
        width: fit-content;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 300;
        font-size: 13px;
        padding-bottom: 3px;
        border-bottom: 2px solid white;
        transition: border-bottom 0.3s;

        &:hover {
            cursor: pointer;
            border-bottom: 2px solid #0F00C9;
        }
    }
}

.container {
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 2;

    .mainHeader {
        padding: 0.3% 2% 0.3% 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(0, 0%, 100%);
        border-bottom: 1px solid rgb(211, 211, 211);
    
        .menuIconOpen {
            @extend %menuIcon;
            opacity: 1;
        }
    
        .menuIconOpenHide {
            @extend %menuIcon;
            opacity: 0;
            transform: rotate(-90deg)
        }
    
        .menuIconClose {
            @extend %menuIcon;
            opacity: 1;
        }
    
        .menuIconCloseHide {
            @extend %menuIcon;
            opacity: 0;
        }
    
        a {
            font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
            font-size: 25px;
            letter-spacing: 10px;
            margin-left: 30px;
            font-weight: 500;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .menuHeaderHide {
        @extend %menuHeader;
        transform: scaleY(0);    
        transform-origin: top;
        transition: transform 0.26s ease;
    }

    .menuHeaderShow {
        @extend %menuHeader;
        transform: scaleY(1);
        transition: transform 0.26s ease;
    }
}

@media screen and (max-width: 720px) {
    .container {
        .mainHeader {
            h1 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    %menuHeader {
        padding: 4% 4% 50% 2%;
        display: grid;
        width: fit-content;
        height: 100vh;
        position: absolute;
    
        a {
            text-align: left;
            margin-bottom: 20px;            
        }
    }

    .container {
        .menuHeaderHide {
            transform: translateX(-600px);
            transform-origin: top;
            transition: transform 0.26s ease;
        }
    
        .menuHeaderShow {
            @extend %menuHeader;
            transform: scaleY(1);
            transition: transform 0.26s ease;
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        .mainHeader {
            a {
                margin-left: 40px;
                font-size: 17px;
                text-align: center;
            }
        }
    }
}