.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .topBanner {
        position: relative;
        display: flex;
        flex-direction: column;
        
        h1 {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 40%;
            font-weight: 300;
            font-size: 65px;
            color: white;
            letter-spacing: 10px;
            opacity: 1;
            animation: fadeIn 2s;
        }

        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }
          
    
        img {
            width: 100vw;
            margin-top: -53px;
        }

        .arrow {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 3%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .content {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;

        h1 {
            font-weight: 350;
            font-size: 27px;
        }

        p {
            max-width: 600px;
            font-weight: 300;

            a {
                color: #0F00C9;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .container {
        .topBanner {
            h1 {
                font-size: 37px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .container {
        .topBanner {
            h1 {
                display: none;
            }
        }
    }
}