
.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .topBanner {
        position: relative;
        display: flex;
        flex-direction: column;
        
        h1 {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 40%;
            font-weight: 300;
            font-size: 50px;
            color: white;
            letter-spacing: 10px;
            opacity: 1;
            animation: fadeIn 2s;
            text-align: center;
        }

        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }
          
    
        img {
            width: 100vw;
            margin-top: -53px;
        }

        .arrow {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 3%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .mainContent {
        margin-top: 30px;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;

        h1 {
            font-weight: 350;
            font-size: 27px;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }

        h2 {
            font-weight: 350;
            margin-top: 30px;
            margin-bottom: -10px;
        }

        .divisions {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 15px;

            .division {
                margin: 10px 50px 10px 50px;
                width: 500px;

                h3 {
                    font-weight: 500;
                    margin-bottom: -10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    .container {
        .topBanner {
            h1 {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .container {
        .topBanner {
            h1 {
                font-size: 27px;
            }
        }
    }
}

@media screen and (max-width: 875px) {
    .container {
        .topBanner {
            h1 {
                font-size: 23px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container {
        .topBanner {
            h1 {
                display: none;
            }
        }
    }
}