
.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .topBanner {
        position: relative;
        display: flex;
        flex-direction: column;
        
        h1 {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 40%;
            font-weight: 300;
            font-size: 65px;
            color: white;
            letter-spacing: 10px;
            opacity: 1;
            animation: fadeIn 2s;
        }

        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }
          
    
        img {
            width: 100vw;
            margin-top: -53px;
        }

        .arrow {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 3%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}