.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .topBanner {
        position: relative;
        display: flex;
        flex-direction: column;
        
        h1 {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 40%;
            font-weight: 300;
            font-size: 40px;
            color: white;
            letter-spacing: 10px;
            opacity: 1;
            animation: fadeIn 2s;
            text-align: center;
        }

        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }
          
    
        img {
            width: 100vw;
            margin-top: -53px;
        }

        .arrow {
            position: absolute;
            z-index: 1;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 3%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .content {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;

        h1 {
            text-align: center;
            font-weight: 350;
            font-size: 27px;
        }

        img {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 600px;
        }

        p {
            max-width: 1000px;
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 1295px) {
    .container {
        .topBanner {
            h1 {
                font-size: 27px;
            }
        }
    }

}

@media screen and (max-width: 1030px) {
    .container {
        .topBanner {
            h1 {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .container {
        .topBanner {
            h1 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 665px) {
    .container {
        .content {
            img {
                width: 350px;
            }
        }
    }
}